@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .text-center{
background-color:green;
text-align:center;
color:white;
font-size:40px
    }

</style>
<body class="text-center">

<div class="text-center">
    <h1 class="display-4">Covid-19</h1>
    <p> Please keep this record.</p>
</div>
</body>